<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление конфигуратора</title>
</head>
<body>
<th:block th:include="_menu"/>
<h1><label th:text="'Обновление конфигуратора для платформы ' + ${app.shortName}"/></h1>
<label th:text="${error}"/>
<form th:object="${app}" method="POST"
      th:action="@{/admin/application/update}" enctype="multipart/form-data">
    <table border="1px">
        <tr>
            <td><label>Операционная система:</label></td>
            <td><input type="text" th:field="*{operationSystem}" required/></td>
        </tr>
        <tr>
            <td><label>Платформа:</label></td>
            <td th:text="${app.shortName}"></td>
            <!--<td></td>-->
        </tr>
        <tr>
            <td><label>Версия:</label></td>
            <td><input type="text" th:field="*{version}" required/></td>
        </tr>
        <tr>
            <td><label>Загрузить файл: </label></td>
            <td><input type="file" name="file" accept="application/zip" required/></td>
        </tr>
    </table>
    <input type="text" th:field="*{shortName}" hidden/>
    <input type="text" th:field="*{id}" hidden/>
    <input type="submit" value="Применить">
</form>
</body>
</html>
