<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый патч</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:insert="~{_template :: header}"/>
<th:block
        th:insert="~{_template :: submenu (${title})}"/>
<th:block th:if="${step} eq 1" th:insert="~{_form :: game_upload_step1 (${exist}, ${error})}"/>
<th:block th:if="${step} eq 2" th:insert="~{_form :: game_upload_step2 (${update}, ${error})}"/>
<!--<div id="midrow" style="text-align: center">-->
<!--    <label th:text="${error}" style="color: red;"></label>-->
<!--    &lt;!&ndash;<input type="hidden" name="selected_platform" th:value="1">&ndash;&gt;-->
<!--    <div th:if="(${step} eq 1) or (${step} == null)">-->
<!--        <form method="POST"-->
<!--              th:action="@{/admin/game/update/upload}" enctype="multipart/form-data">-->
<!--            <input type="hidden" name="step" th:value="1">-->
<!--            <input th:if="${@adminSession.getPlatform() != null}" type="hidden" name="platform"-->
<!--                   th:value="${@adminSession.getPlatform()}">-->
<!--            <table>-->
<!--                <tr th:if="${@adminSession.getPlatform() == null}">-->
<!--                    <td><label>Название</label></td>-->
<!--                    <td><input type="text" name="platform" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td colspan="2"><input type="file" name="file" accept="application/zip" required/></td>-->
<!--                </tr>-->
<!--                <tr style="height: 20px"></tr>-->
<!--                <tr>-->
<!--                    <td colspan="2"><input type="submit" value="Загрузить"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div th:if="${step} eq 2">-->
<!--        <form th:object="${update}" method="POST"-->
<!--              th:action="@{/admin/game/update/upload}" enctype="multipart/form-data">-->
<!--            <input type="hidden" name="step" th:value="2">-->
<!--            <input type="hidden" th:value="${update.path}" th:field="*{path}">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <td><label>Платформа:</label></td>-->
<!--                    <td><input type="hidden" th:text="${update.platform}" th:field="*{platform}"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><label>Версия:</label></td>-->
<!--                    <td><input type="hidden" th:text="${update.version}" th:field="*{version}"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><label>Обновить схему:</label></td>-->
<!--                    <td><label> <input type="checkbox" th:field="*{schemaUpdate}"/> </label></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><label>Обновить подключенные плагины:</label></td>-->
<!--                    <td><label> <input type="checkbox" th:field="*{appliedUpdate}"/></label></td>-->
<!--                </tr>-->
<!--                <tr style="height: 20px"></tr>-->
<!--                <tr>-->
<!--                    <td colspan="2"><input type="submit" value="Сохранить" th:disabled="${error} ne ''"></td>-->
<!--                </tr>-->
<!--            </table>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<th:block th:insert="~{_template :: footer}"/>
</body>
</html>