<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый патч</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<h1>Добавить новый патч</h1>
<label th:text="${error}"/>
<form th:object="${update}" method="POST"
      th:action="@{/admin/game/update/upload}" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label>Платформа <input type="text" th:field="*{platform}" required/> </label></td>
        </tr>
        <tr>
            <td><label>Версия <input type="text" th:field="*{version}" required/> </label></td>
        </tr>
        <tr>
            <td><label>Обновить схему <input type="checkbox" th:field="*{schemaUpdate}"/> </label>
            </td>
        </tr>
        <tr>
            <td><label>Обновить подключенные плагины <input type="checkbox" th:field="*{appliedUpdate}"/> </label></td>
        </tr>
        <tr>
            <td><label>Загрузить файл: <input type="file" name="file" accept="application/zip" required/></label></td>
        </tr>
    </table>
    <input type="submit" value="Загрузить">
</form>
</body>
</html>