<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую платформу</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:insert="~{_template :: header}"/>
<th:block th:insert="~{_template :: submenu ('Доступные версии приложения')}"/>
<div id="midrow">
    <table border="1px">
        <tr align="center">
            <th>Опрационная система</th>
            <th>Платформа</th>
            <th>Версия</th>
        </tr>
        <tr th:each="app : ${applications}" align="center">
            <td th:text="${app.operationSystem}"></td>
            <td th:text="${app.shortName}"></td>
            <td th:text="${app.version}"></td>
            <td>
                <a th:href="@{'/admin/application/update/' + ${app.shortName}}">Обновить</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:insert="~{_template :: footer}"/>
</body>
</html>